<!-- myapp/templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>

    {% if image_url %}
        <h2>Uploaded Image:</h2>
        <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 300px; max-height: 300px;">

        <!-- recognition 버튼 추가 -->
        <form method="post" action="{% url 'recognition' %}">
            {% csrf_token %}
            <input type="hidden" name="image_name" value="{{ image_url|slice:'6:' }}">
            <button type="submit">Recognition</button>
        </form>

        {% if predicted_emotion %}
            <h3>Predicted Emotion: {{ predicted_emotion }}</h3>
        {% endif %}
    {% endif %}
</body>
</html>